import(utils)
importFrom(R2HTML, HTML)
importFrom(Hmisc, latex)
importFrom(formatR, tidy.source)
importFrom(svSocket, evalServer)

export(
  trArgs,
  trComplete,
  trExport,
  trObjList,
  trObjSearch,
  trPaths)
